{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include 'includes/header-separator-bar.html' %}
    <div class="container mt-5 mb-5">
        <h2 class="text-center color-dark-purple">Browse our Mentors here:</h2>
        <div class="row">
            {% for mentor in object_list %}
                <div class="col col-sm-6 col-md-4">
                    <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple">
                        <div class="card-body">
                            {% if "placeholder" in mentor.image.url %}
                                <img class="card-img-top rounded-circle card-image" src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676992902/PP1/blank-profile-picture-g64a2ffd0b_640_bsdtib.png"
                                alt="image of a mentor">
                            {% else %}
                                <img class="card-img-top rounded-circle card-image" src='{{ mentor.image.url }}'>
                            {% endif %}
                            <h5 class="card-title mt-5">
                                {{ mentor.name }}
                            </h5>
                            <p class="text-uppercase color-pink">Expertise</p>
                            <p>{{ mentor.category }}</p>
                            <a href="{% url 'mentor-detail' mentor.slug %}" class="btn nav-link">View full profile</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
