{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
  <h2 class="text-center color-dark-purple">Know our team</h2>
  <div class="container py-5">
    <div class="card allauthstyle px-md-5 justify-content-center">
      <div class="card-body">
        <p>
          Raising up those that come before and those that come after
          A platform to find and connect with all who identify as women, working in the tech industry and gain
          insight and guidance from their expertise - be it learning a new framework, language, negotiating
          salary, leadership skills or fighting for a seat at the table. Each mentor is actively looking to
          mentor other women.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Rachel O'Donnell </h5>
          <p>
            Code Institute Student studying due to graduate May 2023.</p>
          <p>This is my 1st time as a scrum master.
            An incredible opportunity to work on an all female team and
            to push myself further out of my comfort zone and learn so much from my team members.
          </p>
          <a href="https://www.linkedin.com/in/rachel-o-donnell-397aa2180/" class="btn nav-link"
            target="_blank">LinkedIn</a>
          <a href="https://github.com/rachel-o-donnell" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Eleanor Bucke </h5>
          <p>
            Code Institute Student studying due to graduate May 2023. </p>
          <p>I worked on toasts and front end.
            Chance to work with other students and learn more about working in teams on gitpod.
          </p>
          <a href="https://www.linkedin.com/in/eleanor-bucke-mehmood-38a5b6222/" class="btn nav-link"
            target="_blank">LinkedIn</a>
          <a href="https://github.com/eleanorbucke21" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Özlem Hafalir </h5>
          <p>
            Code Institute Student graduate due: July 2023.</p>
          <p>I feel like my Bootstrap studies have paid off, and it was a good Chance to work with other brilliant women while pushing myself to learn new things that I didnt know in a mostly fun way.
          </p>
          <a href="https://www.linkedin.com/in/ozlem-hafalir/" class="btn nav-link" target="_blank">LinkedIn</a>
          <a href="https://github.com/ozlemhafalir" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2em;">
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Joy Zadan </h5>
          <p>
            Code Institute Student graduated .</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
            to
            make
            a type specimen book.
          </p>
          <a href="https://www.linkedin.com/in/joy-zadan/" class="btn nav-link" target="_blank">LinkedIn</a>
          <a href="https://github.com/JoyZadan" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Roz Welch </h5>
          <p>
            Code Institute Student studying due to graduate May 2023.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
            to
            make
            a type specimen book.
          </p>
          <a href="https://www.linkedin.com/" class="btn nav-link" target="_blank">LinkedIn</a>
          <a href="https://github.com/RozWelch" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Ivette McDermott </h5>
          <p>
            Code Institute Student studying due to graduate May 2023.</p>
          <p>Working with a full female team was a completely different and rewarding experience.
          </p>
          <a href="https://www.linkedin.com/in/ivette-mc-dermott/" class="btn nav-link" target="_blank">LinkedIn</a>
          <a href="https://github.com/IvetteMcDermott" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}