{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-5 gradient-background text-light">
  <div class="row">
    <div class="col col-12 col-md-8 my-auto">
      <h3 class="mt-4">A brief story on rising up.</h3>
      <p>
        We are Code Sisters. A project close to our hearts as an all female team, we jumped at the opportunity to create
        a site that
        all of
        us would benefit from in the real world. A site where all who identify as female could find female mentor
        who
        has paved the way for us and who are actively looking for mentees - drastically reducing the time
        consuming
        job of finding other women who are in the position to take on a mentor in the tech world and eliminating
        the
        fear of reaching out to them.
      </p>
      <p>
        We had an incredible amount of challenges during this project, we felt at one time it was becoming a
        comedy
        sketch, between our database leading us to debug like it was a murder mystery weekend, Github deciding to
        kick
        everyone off the project board, terminal errors that defy logic, multiple deployment issues, even our
        shared
        google sheets broke, all on top of the very basics of version control. We had life challenges too, a
        fevering
        child, a destructive and disruptive rescue dog, team members sickness, working and mothering on a weekend
        packed with a mother’s responsibilities - St Patrick’s day and Mother’s Day. But no matter what the team
        never
        wavered, we rose to each challenge, working together to come to solutions, continuously reviewing our
        progress
        in sprints, reordering and evaluating our MVP. We very rarely came across a merge conflict, there was
        constant
        communication and offers of support. Every single team member has tackled something they were not familiar
        with, learning to build with other team members logic, design and ways of working. To say we have had a
        team
        full of powerhouses is an understatement. We are blessed with Roz’s incredible talent for design and
        commitment to join us straight off a plane, Joy’s experience with Django, documentation and testing,
        always
        pushing us and believing in us to take our knowledge and product one step further, Ivette’s tenacity,
        humour
        and courage to take on any challenge, Eleanor’s ability to multitask and the speed at which she is
        learning
        has us dumbfounded, Özlem pushing herself so far outside of her comfort zone and positively blooming in
        the
        process and Rachel is our amazing leader, team member and a fabulously, compassionate and fair woman
        keeping
        her eye on the bigger picture at all times.
      </p>
      <p>
        We are immensely proud to work on a concept that aligned with a shared ethos, that we as a grossly
        underrepresented gender must do all we can to raise each other up, to boost each others profiles,
        confidence
        and skills. And as we rise to always hold out our hands to those that are coming after us. To celebrate
        the
        wins of all those who identify as women in all fields, because in the battle of equality when one woman
        rises,
        so do we all.
      </p>
    </div>
    <div class="col col-12 col-md-4 my-auto">
      <img class="card-img-top rounded-circle"
        src="https://res.cloudinary.com/dpxa5dfjt/image/upload/v1679232176/hero_image_i5cv3h.jpg" alt="Hero Image" />
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Rachel O'Donnell </h5>
          <p>
            Code Institute Student studying due to graduate May 2023.</p>
          <p>1st time as a scrum master.
            An incredible opportunity to work on an all female team and
            to push myself further out of my comfort zone and learn so much from my team members.
          </p>
          <a href="https://www.linkedin.com/in/rachel-o-donnell-397aa2180/" class="btn nav-link"
            target="_blank">LinkedIn</a>
          <a href="https://github.com/rachel-o-donnell" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Eleanor Bucke </h5>
          <p>
            Code Institute Student studying due to graduate May 2023. </p>
          <p>I worked on toasts and front end.
            Chance to work with other students and learn more about working in teams on gitpod.
          </p>
          <a href="https://www.linkedin.com/in/eleanor-bucke-mehmood-38a5b6222/" class="btn nav-link"
            target="_blank">LinkedIn</a>
          <a href="https://github.com/eleanorbucke21" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Özlem Hafalir </h5>
          <p>
            Code Institute Student graduate due: July 2023.</p>
          <p>I feel like my Bootstrap studies have paid off, and it was a good Chance to work with other brilliant women
            while pushing myself to learn new things that I didnt know in a mostly fun way.
          </p>
          <a href="https://www.linkedin.com/in/ozlem-hafalir/" class="btn nav-link" target="_blank">LinkedIn</a>
          <a href="https://github.com/ozlemhafalir" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2em;">
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Joy Zadan </h5>
          <p>
            Code Institute Student graduated .</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
            to
            make
            a type specimen book.
          </p>
          <a href="https://www.linkedin.com/in/joy-zadan/" class="btn nav-link" target="_blank">LinkedIn</a>
          <a href="https://github.com/JoyZadan" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Roz Welch </h5>
          <p>
            Code Institute Student studying due to graduate May 2023.</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
            to
            make
            a type specimen book.
          </p>
          <a href="https://www.linkedin.com/" class="btn nav-link" target="_blank">LinkedIn</a>
          <a href="https://github.com/RozWelch" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4">
      <div class="card mt-3 mb-3 text-center bg-light-grey border-0 rounded-card color-dark-purple h-100">
        <div class="card-body">
          <img class="card-img-top rounded-circle card-image"
            src="https://res.cloudinary.com/dwjq6izv5/image/upload/v1676937087/mhpfija6dmq30nm0tb1r_7d1640.png"
            alt="team member picture">
          <h5 class="card-title mt-5">
            Ivette McDermott </h5>
          <p>
            Code Institute Student studying due to graduate May 2023.</p>
          <p>Working with a full female team was a completely different and rewarding experience.
          </p>
          <a href="https://www.linkedin.com/in/ivette-mc-dermott/" class="btn nav-link" target="_blank">LinkedIn</a>
          <a href="https://github.com/IvetteMcDermott" class="btn nav-link" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}