{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Main Content-->
<div class="container py-5">
    <div class="card allauthstyle px-md-5 justify-content-center">
        <div class="card-body">
            <p>
                Raising up those that come before and those that come after
                A platform to find and connect with all who identify as women, working in the tech industry and gain
                insight and guidance from their expertise - be it learning a new framework, language, negotiating
                salary, leadership skills or fighting for a seat at the table. Each mentor is actively looking to
                mentor other women.
                The payment? Leave them a LinkedIn testimonial after your mentorship. Raising their profile and
                yours, one mentorship at a time.
            </p>
        </div>
    </div>
</div>
{% endblock %}