{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid p-5 gradient-background text-light">
        <div class="row">
            <div class="col col-md-8 my-auto">
                <h3 class="mt-4">Raising up those that come before and those that come after</h3>
                <p>A platform to find and connect with all who identify as women, working in the tech industry and gain
                    insight and guidance from their expertise - be it learning a new framework, language, negotiating
                    salary, leadership skills or fighting for a seat at the table.</p>
                <p> Each mentor is actively looking to
                    mentor other women.</p>
                <p>The payment? Leave them a LinkedIn testimonial after your mentorship. Raising their profile and
                    yours, one mentorship at a time.</p>
            </div>
            <div class="col col-md-4">
                <img class="card-img-top rounded-circle"
                     src="https://res.cloudinary.com/dpxa5dfjt/image/upload/v1679232176/hero_image_i5cv3h.jpg"
                     alt="Hero Image"/>
            </div>
        </div>
    </div>
    <div class="container mt-5 px-5">
        <div class="row">
            <div class="col">
                <img class="card-img-top rounded-large d-none d-sm-block" src="https://res.cloudinary.com/dpxa5dfjt/image/upload/v1679234081/stats_landscape_hjzwl3.jpg" alt="">
                <img class="card-img-top rounded-large d-block d-sm-none" src="https://res.cloudinary.com/dpxa5dfjt/image/upload/v1679234081/stats_portrait_nlwqjb.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container my-5">
        <h4 class="text-center color-dark-purple mb-4">Select the Area of Expertise you Require Here:</h4>
        <div class="row text-uppercase">
            <div class="col col-sm-3 mb-3"><a class="btn btn-block bg-green text-white">Technical</a></div>
            <div class="col col-sm-3 mb-3"><a class="btn btn-block bg-dark-purple text-white">Leadership</a></div>
            <div class="col col-sm-3 mb-3"><a class="btn btn-block bg-pink text-white">Management</a></div>
            <div class="col col-sm-3 mb-3"><a class="btn btn-block bg-purple text-white">Interpersonal</a></div>
        </div>
    </div>
{% endblock %}