/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.color-green {
    color: #2aad74;
}

.color-dark-purple {
    color: #4a2879;
}

.color-pink {
    color: #bf387c;
}


.header-underline-pink {
    color: #bf387c;
    text-decoration: underline;
    text-underline-offset: .7rem;
}

.bg-light-grey {
    background-color: #e2e2e2;
}

.bg-green {
    background-color: #2aad74;
}

.bg-dark-purple {
    background-color: #4A2879;
}

.bg-pink {
    background-color: #bf387c;
}

.bg-purple {
    background-color: #6e639a;
}

.rounded-card {
    border-radius: 2rem;
}

.rounded-large {
    border-radius: 1rem;
}

/* Header and Navigation */ 

header {
    font-family: 'Montserrat', sans-serif;
}

.header-separator-bar {
    height: 1.5rem;
    background-image: linear-gradient(to bottom right, #4a2879, #bf387c);
}

.nav-link {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #2aad74;
}

.nav-link:hover {
    color: #bf387c;
}

.nav-link-active {
    color: #bf387c;
    text-decoration: underline;
}

.nav-link-small {
    font-size: .7rem;
}

/* Main Section */

.colorline {
    background: linear-gradient(135deg, #4A2879, #BF387C) !important; 
}

.gradient-background {
    background-image: linear-gradient(to bottom right, #4a2879, #bf387c);
}

.content {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-bottom: 5rem;
}

/* Mentor Details */

.card-image {
    height: 100px;
    width: auto;
}

.detail-card-image {
    height: 200px;
    width: auto;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* allauth Forms. Login, Logout and Register*/

.allauthstyle {
    background-color: #e2e2e2;
}

.allauthP {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
}

.allauthH {
    font-family: 'Montserrat';
    color: #2aad74;
}

.allauthP > a:link {
    color: #4A2879;
}

#buttonallauth {
    background-color: #4A2879;
}
.form-rounded {
    border-radius: 1rem;
}
