<header>
    <nav class="navbar navbar-expand-md border-bottom bg-light-grey mb-2">
        <ul class="navbar-nav mb-2 mb-md-0 text-center mr-auto">
            <li class="nav-item mr-2">
                <a class="nav-link nav-link-small color-green" href="{% url 'about-us' %}">Meet the Hackathon
                    Team</a>
            </li>
        </ul>
        <div class="d-none d-md-block">
            {% include 'includes/top-header-collapse-items.html' %}
        </div>
    </nav>
    <nav class="navbar navbar-expand-md border-bottom">
        <a class="navbar-brand" href="{% url 'home' %}">
            <h2 class=""><span class="font-weight-medium color-dark-purple mr-3">RISING</span><span
                    class="font-weight-bold color-green">WOMEN</span>
            </h2>
        </a>
        <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-md-0 text-center">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="{% url 'mentors-list' %}">Meet the Mentors</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="{% url 'contact' %}">Become a Mentor</a>
                </li>
            </ul>
            <div class="d-md-none">
                {% include 'includes/top-header-collapse-items.html' %}
            </div>
        </div>
    </nav>
</header>