<header>
    <nav class="navbar navbar-expand-lg border-bottom bg-light-grey mb-2">
        <ul class="navbar-nav mb-2 mb-lg-0 text-center mr-auto">
            <li class="nav-item mr-2">
                <a class="nav-link nav-link-small color-green" href="{% url 'mentors-list' %}">Meet the Hackathon
                    Team</a>
            </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 text-center">
            <li class="nav-item">
                <form class="d-flex ml-auto mr-2" role="search">
                    <input class="form-control form-control-sm form-rounded me-2" type="search"
                           placeholder="Search our site" aria-label="Search">
                    <button class="btn" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item mr-2">
                    <span class="nav-link nav-link-small"><i
                            class="bi bi-person-fill-check mr-1"></i>{{ request.user.username }}</span>
                </li>
            {% endif %}
            <li class="nav-item mr-2 dropdown">
                <a class="text-black nav-link  nav-link-small" href="#" id="user-options" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0">My Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </nav>
    <nav class="navbar navbar-expand-lg border-bottom">
        <a class="navbar-brand" href="{% url 'home' %}">
            <h2 class=""><span class="font-weight-medium color-dark-purple mr-3">RISING</span><span
                    class="font-weight-bold color-green">WOMEN</span>
            </h2>
        </a>
        <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 text-center">
                <li class="nav-item mr-2">
                    <a class="nav-link nav-link-active" href="/">Home</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="{% url 'mentors-list' %}">Meet the mentors</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#" target="_blank">Mentor Signup</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="#">Bookmarks</a>
                </li>
            </ul>
        </div>
    </nav>
</header>