<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-category-link">
                <a href="" class="dropdown-item">Technical skills</a>
                <a href="" class="dropdown-item ">Leadership skills</a>
                <a href="" class="dropdown-item ">Management development</a>
                <a href="" class="dropdown-item">Interpersonal skills</a>
            </div>
        </li>
    </ul>
</div>