{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container colorline p-3 my-3 border">
</div>
<div class="container py-5">
  <div class="card allauthstyle px-md-5 justify-content-center">
    <div class="card-body">
      <h1 class="allauthH"><u>{% trans "Sign Out" %}</u></h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn-lg text-light" type="submit" id="buttonallauth">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}