{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    {% include 'includes/header-separator-bar.html' %}
    <div class="container mb-5 mt-4 bg-light-grey">
        <div class="row justify-content-center text-left">
            <div class="col col-12 col-lg-8 align-self-start p-4">
                <!-- PAGE HEADING -->
                <h2 class="header-underline-pink mb-4"><span class="color-dark-purple">{% trans "Sign Out" %}</span></h2>

                <p>{% trans 'Are you sure you want to sign out?' %}</p>

                <div>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-sm bg-dark-purple text-white" type="submit" id="buttonallauth">{% trans 'Sign Out' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}